.container{
    display:flex;
    gap: 10px;
    padding: 10px;
    background: rgb(118,118,118);
    background: linear-gradient(117deg, rgba(118,118,118,1) 0%, rgba(225,224,220,0.8794406797827744) 100%);
    border-radius: 10px;
}
.header{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.title{
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    

}
.description{
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}
.progress{
    display: flex;
    flex-direction: column;
}
.completedDays{
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}
.totalMissing{
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}
.radioContainer{
    display: flex;
    flex-direction: column;
}
.radioOption{
     display: flex;
     align-items: center;
     gap: 5px;
}